{% extends 'base.html' %}

{% block body %}
<h2>{{ the_title }}</h2>

    <form method="post" action="/search">
    <table>
        <p>
           Introduce you username and password:
        </p>
        <tr><td>Username:</td><td><input name="username" type="TEXT" width="60"></td></tr>
        <tr><td>Password:</td><td><input name="password" type="TEXT" width="60"></td></tr>
    </table>
    <p><input value="LOGIN" type="SUBMIT"></p>
    </form>
<form  action="/">
    <p>Press if you want to return to initial page:</p>
    <p><input value="Restart" type="SUBMIT"></p>
</form>
{% endblock %}